body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: black;
  color: white;
  margin: 0;
}

/* body { cursor: none; } */

#penny {
  height:40%;
  max-width: 80%;
  object-fit: contain;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  height: 100vh;
  justify-content: center;
}

#personId {
  font-size: 40px;
  margin: 0;
}

.button {
  border: none;
  background: none;
  color:white;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.button:active {
  text-decoration: underline;
}

.btnContainer {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

#amount {
  font-size: 120px;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  margin-bottom: 30px;
}